<form class="newsLetterFooter">
  <div class="news_input">
    <label for="email"
      >Stay updated with our latest news and updates! Enter your email in the
      provided field at the bottom of the page to register for our newsletters.
      We look forward to connecting with you!</label
    >
    <input
      type="email"
      name="email"
      id="email"
      placeholder="Enter your email here!"
    />
  </div>
  <div class="news_actions">
    <button class="signUpNews">Submit</button>
  </div>
  <form action=""></form>
  &copy;NOT a real business
</form>
